.input {
  width: 352px;
  height: 42px;
  border-radius: 4px;
  background: theme("colors.blue1");
  border: 0.6px solid rgba(52, 59, 79, 1);
  caret-color: #aeb9e1;
  color: #aeb9e1;
  padding-left: 38px;
}

.input-view-1 {
  width: 243px;
  height: 42px;
}
.input::placeholder {
  @apply text-size-3 text-style-2;
}

input:focus-visible,
input:focus {
  padding-left: 38px;
  outline: none;
}

.input:focus::placeholder {
  color: transparent;
}
